<nav class="navbar navbar-dark bg-dark mb-5">
    <a class="navbar-brand" href="/">developer.DO</a>
    <div class="navbar-expand ml-auto navbar-nav">
        <button class="btn btn-outline-danger my-2 my-sm-0" onclick="window.open('index','_self');" type="submit">Log Out</button>
    </div>
  </nav>
  
  <div class="container">
    <form #todoForm= "ngForm"(submit)="todoSubmit(todoForm.value); todoForm.resetForm()" >
      <div class="form-group">
      <h1 class="text-center ">Tasks</h1>
        <div class="input-group-prepend">
            <input type="text" #todo  class="form-control" placeholder="Add Todo" name="todo" ngModel>
          <span class="input-group-text" (click)="addTodo(todo.value)">
          <i class="fas fa-plus"></i></span>
        </div>
      </div>
      <div class="data">
      <ul class="list-unstyled">
        <li *ngFor="let todo of todoArray">{{todo}} <i (click)="deleteItem(todo)" class="fas fa-check-double"></i></li>
      </ul>
    </div>
    </form>
  </div>
  
  <nav class="navbar navbar-dark bg-dark mt-5 fixed-bottom">
    <div class="navbar-expand m-auto navbar-text">
      Made with <i class="fa fa-heart"></i> by <a href="https://twitter.com/ibagroup">IBA Grpup 2018</a>
    </div>
  </nav>
  