<!-- Navigation Bar -->
<nav class="navbar navbar-dark bg-dark mb-5">
  <a class="navbar-brand" href="/">developer.DO</a>
  <div class="navbar-expand ml-auto navbar-nav">
      <button class="btn btn-outline-success my-2 my-sm-0" onclick="window.open('todo-list','_self');" type="submit">Log In</button>
      <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Sign Up</button>
  </div>
</nav>

<!-- Body -->

<div class="body">
  <p> Greetings Developer! </p>
</div>

<!-- Footer -->
<nav class="navbar navbar-dark bg-dark mt-5 fixed-bottom">
  <div class="navbar-expand m-auto navbar-text">
    Made with <i class="fa fa-heart"></i> by <a href="https://twitter.com/ibagroup">IBA Grpup 2018</a>
  </div>
</nav>
